body {
  background-color: #2f2f2f;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-cross {
  font-size: 35px;
  color: #0056a0;
}
.icon-circle {
  font-size: 35px;
  color: #da9500;
}
